/*header style*/

header.css-uc1cuc.ezrtsby2 {
    background-color: #eee6c4; /*#ffcc04*/
}

/*check & info*/
@media (max-width: 640px) {
    .css-keje6w {
        min-width: calc(50% - 1rem);
        }
}
/*#60544c*/
/*div.css-keje6w.e1f1d6gn1{

}
@media (max-width: 640px)
.css-keje6w {
    min-width: calc(50% - 1.5rem);
}
